body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
img {
	width: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
}

img[src*="nebula1"] {
	float: left;
	margin-right: 15px; 
}

img[src*="nebula2"] {
	float: right;
	margin-left: 15px;
}